Package: amdgpu-dkms
Version: 1:6.12.12.60401-2164967.24.04-2
Architecture: all
Maintainer: Advanced Micro Devices (AMD) <gpudriverdevsupport@amd.com>
Installed-Size: 510654
Depends: dkms (>= 1.95), libc-dev | libc6-dev, autoconf, automake, initramfs-tools, amdgpu-dkms-firmware (= 1:6.12.12.60401-2164967.24.04)
Recommends: dwarves
Conflicts: rock-dkms (<< 1:6.12.12.60401-2164967.24.04)
Breaks: rock-dkms (<< 1:6.12.12.60401-2164967.24.04)
Replaces: rock-dkms (<< 1:6.12.12.60401-2164967.24.04)
Provides: rock-dkms
Section: misc
Priority: optional
Description: amdgpu driver in DKMS format.
 The amdgpu DKMS driver is designed to follow the DKMS framework concept and
 allow module upgrades without changing the whole kernel, and to allow the same
 module to rebuild as the kernel is upgraded.
 .
 This package was put together by AMD, in part from sources retrieved from the
 upstream linux git. All binaries are built at install time; this package
 includes all sources, which are installed under '/usr/src/'.
